* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "lucida sans", arial, sans-serif;
  height: 80%;
}

#header {
  background-color: black;
  padding: 1.5rem 10%;
  font-family: "century gothic", arial, sans-serif;
  font-weight: 100;
  letter-spacing: 0.1rem;
}
#header h1 {
  color: #D00000;
  font-size: 3rem;
}
#header h1 a {
  color: #777;
  text-decoration: none;
}
#header h1 a span {
  color: #D00000;
}
#header h1 a:hover {
  color: #D00000;
}
#header h2 {
  color: #777;
  font-size: 1.2rem;
}

#menubar {
  background-color: #313131;
  padding: 0 10%;
  border-bottom: 4px solid #D00000;
  position: sticky;
}
#menubar ul li {
  display: inline-block;
  margin: 0 1%;
  margin-top: 0.5rem;
  padding: 0.3rem 2%;
}
#menubar ul li:first-child {
  margin-left: 0;
}
#menubar ul li:last-child {
  margin-right: 0;
}
#menubar ul li a {
  text-align: center;
  color: #FEFDFA;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.3rem;
}
#menubar ul li a:hover {
  color: #D00000;
}
#menubar ul li.selected {
  background-color: #D00000;
  border-radius: 0.5rem 0.5rem 0 0;
}
#menubar ul li.selected a:hover {
  color: #FEFDFA;
}

.body_text {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-left: 10%;
  min-height: 96%;
  position: relative;
}
.body_text_content {
  float: left;
  border-right: 0.5px solid #ddd;
  padding-right: 5%;
  padding-top: 3rem;
}
.body_text_content h1 {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  padding-bottom: 3rem;
}
.body_text_content h2 {
  font-size: 1.7rem;
  text-align: left;
  padding-bottom: 1rem;
}
.body_text_content h3 {
  color: #D00000;
  font-size: 1.3rem;
}
.body_text_content h3 .event-date {
  font-style: italic;
  font-size: 1.3rem;
}
.body_text_content hr {
  margin-bottom: 2rem;
}
.body_text_content p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}
.body_text_content ul {
  margin-left: 2rem;
}
.body_text_content ul li {
  font-size: 1.2rem;
}
.body_text_content a {
  color: black;
  text-decoration: none;
  border-bottom: 1px dotted #D00000;
}
.body_text_content a:hover {
  color: #D00000;
  border-bottom: 1px solid #D00000;
}
.body_text_sidebar {
  padding: 1.5rem;
  float: right;
  text-align: left;
  background-color: #ddd;
  height: 100%;
}
.body_text_sidebar h1 {
  font-size: 2rem;
  text-align: center;
  padding: 1.5rem;
  padding-bottom: 3rem;
}
.body_text_sidebar h2 {
  font-size: 1.5rem;
  text-align: left;
  padding-bottom: 0.5rem;
}
.body_text_sidebar p {
  margin-bottom: 1rem;
}
.body_text_sidebar .event {
  padding: 0.5rem;
}

.resource {
  margin: 1.5rem 0;
}
.resource p {
  margin-bottom: 1.5rem;
}

.footer {
  margin-top: 3rem !important;
  width: 100%;
  border-top: 4px solid #D00000;
  text-align: center;
  background-color: #313131;
  color: #FEFDFA;
  padding: 1.5rem 0;
  font-size: 1.2rem;
}
.footer ul li {
  display: inline-block;
  padding: 0 3rem;
  border-right: 1px solid #FEFDFA;
}
.footer ul li:last-child {
  border-right: none;
}
.footer ul li a {
  color: #FEFDFA;
  text-decoration: none;
  border-bottom: 1px dotted #D00000;
}
.footer ul li a:hover {
  color: #D00000;
  border-bottom: 1px solid #D00000;
}

@media (max-width: 1112px) {
  #menubar ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  #menubar ul li {
    margin: 0;
  }

  .body_text {
    grid-template-columns: 70% 30%;
  }
  .body_text_sidebar h1 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
    padding-bottom: 3rem;
  }
  .body_text_sidebar h2 {
    font-size: 1rem;
    text-align: left;
    padding-bottom: 0.5rem;
  }
  .body_text_sidebar p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }
  .body_text_sidebar .event {
    padding: 0.5rem;
  }
}
@media (max-width: 810px) {
  #menubar ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  #menubar ul li {
    margin: 0;
  }

  .body_text {
    grid-template-columns: 100%;
    padding: 0;
  }
  .body_text_content {
    padding: 5%;
  }
  .body_text_sidebar {
    padding: 1.5rem;
    float: right;
    text-align: left;
    background-color: #ddd;
    height: 100%;
  }
  .body_text_sidebar h1 {
    font-size: 2rem;
  }
  .body_text_sidebar h2 {
    font-size: 1.5rem;
    text-align: left;
    padding-bottom: 1rem;
  }
  .body_text_sidebar p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
}
@media (max-width: 620px) {
  #header h1 {
    font-size: 1.7rem;
    text-align: center;
  }
  #header h2 {
    font-size: 1rem;
    text-align: center;
  }

  #menubar ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
  }
  #menubar ul li a {
    font-size: 1rem;
  }

  .body_text h1 {
    font-size: 1.5rem;
  }
  .body_text h2 {
    font-size: 1.2rem;
  }
  .body_text h3 {
    font-size: 1rem;
  }
  .body_text p {
    font-size: 0.8rem;
  }
  .body_text ul li {
    font-size: 0.8rem;
  }
  .body_text_sidebar {
    text-align: left;
  }
  .body_text_sidebar h1 {
    font-size: 1.5rem;
  }
  .body_text_sidebar h2 {
    font-size: 1.2rem;
  }
  .body_text_sidebar p {
    font-size: 0.8rem;
  }
}
@media (max-width: 500px) {
  .footer ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1rem;
  }
  .footer ul li {
    border-right: none;
  }
}
@media (max-width: 320px) {
  .footer ul li {
    border-right: none;
    display: block;
    font-size: 0.8rem;
  }
}
